body {
  background-color: #eceef2;
}

.top-nav-bar {
  height: 100px;
  width: 100%;
}

.table-container {
  margin-left: 80%;
}

.td-content {
  font-size: 12px;
  color: #505050;
  font-weight: normal;
}

.forgot-link a {
  font-size: 12px;
  text-decoration: none;
  color: #0077c5;
  font-weight: normal;
}

.signin-button {
  padding: 10px 30px;
  background-color: #0077c5;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #505050;
  line-height: 1.5;
}

.footer-menu {
  display: block;
}

.footer-menu a {
  color: #505050;
  padding-left: 15px;
  text-decoration: none;
  font-size: 12px;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.sub-menu-icon {
  display: flex;
  margin-left: 6px;
  font-weight: normal;
}

.sub-menu-icon a {
  text-decoration: none;
  color: #a39e9e;
  font-size: 18px;
}

.main-icon {
  display: flex;
  justify-content: center;
}

.mainPage {
  height: 600px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  margin: 30px auto 50px auto;
  display: flex;
  flex-direction: column;
}

form {
  line-height: 2em;
  padding-left: 30px;
  padding-top: 50px;
}

input {
  height: 34px;
  width: 320px;
}

input[type="submit"] {
  width: 320px;
  height: 45px;
  background-color: #0077c5;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 3px;
  border-bottom: 1px solid black;
  font-size: 17px;
}

.champ {
  font-size: 16px;
}

.lien {
  padding-left: 100px;
}

span {
  font-size: 0.8em;
}

.form-title {
  text-align: center;
  color: #4c4c4c;
  font-size: 16px;
}

.form-subtitle {
  color: #4c4c4c;
  font-size: 14px;
  margin-left: 10%;
}

.form-subtitle p a {
  color: #0077c5;
  text-decoration: none;
}

.form {
  color: #4c4c4c;
  margin-top: -13%;
}

.form-footer {
  font-size: 13px;
  font-style: italic;
  color: #757575;
  text-align: center;
}

.form-footer p a {
  color: #0077c5;
  text-decoration: none;
}

.recaptcha-section {
  background-color: #eceef2;
  height: 80px;
  width: 100%;
  font-size: 10px;
  color: #8d9096;
  text-align: center;
}

.recaptcha-section p {
  margin-top: 7%;
}

.recaptcha-section p a {
  color: #0077c5;
  text-decoration: none;
}
